* {
  color: white;
}

.container {
  text-align: center;
  border-radius: 20px;
}

.spinner {
  margin-top: 5%;
}

.err {
  margin-top: 10%; 
  background-color: #E98580;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

@media (max-width: 767px) {
  .spinner {
    margin-top: 8%;
  }

  .err {
    margin-top: 20%;
  }
}
